<div class="navbar center">
    <div class="img">
        <img src="{{cityPic[loc()]}}">
    </div>
    <br>

    <!-- Category names !-->
    <ul id="filters" class="nav clearfix" ng-repeat="type in cities[loc()]">
        <li><a href="#{{loc()}}/{{type}}">{{type}}</a></li>
    </ul>
</div>

<!-- Content boxes !-->
<div id="myteam">
    <div class="container">
        <div class="row centered">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-4" ng-repeat="place in places | filter: {city: loc()} | orderBy: 'type'" style="float:left;width:33%;">
                        {{incr()}}
                        <div class="box">
                            <br>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#{{link()}}">
                                <img src="{{place.img}}" class="myimg">
                            </a>
                            <h2>{{place.name}}</h>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#{{link()}}">
                                        <div class="mybb">
                                            <h8>{{place.location}}</h8>
                                        </div>
                                    </a>
                                </div>
                                <div id="{{link()}}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p id="narrow">{{place.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
